header {
    height: 100vh;
    // background: black;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../../../public/assets/lakeLouise.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}




// HEADERTOP STYLES

.headerTop {
    background: rgba(0,0,0,0.9);
    // background: white;
    position: fixed;
    z-index: 50;
    width: 100vw;



    // position: relative;
	// display: flex;
	// justify-content: space-between;
	// align-items: center;
	// height: 15vh;
	// width: 85%;
//   margin: auto;



    // height: 10vh;
    // border-bottom: 1px solid grey;
    
    .wrapper {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    a {
        outline: none;
    }
    img.logo {
        width :60px;
        outline: none;
    }
    nav.main-nav {
        width: 50%;
        display: inline-block;
    }
    nav.main-nav ul { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;

        list-style: none;
        li a {
            transition: 0.5s;
            text-decoration: none;
            color: white;
            @include fontSize(18);
            &:hover {
                color: $yellow;
            }
        }
        li a.firstNavItem {
            color: $yellow;
        }
    }
}

// HAMBURGER MENU 
nav.hamburgerNav {
    display: none;
}

#menuToggle {
  display: block;
  position: relative;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}


#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: $yellow;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.18,0.89,0.32,1.28),
              background 0.5s cubic-bezier(0.18,0.89,0.32,1.28),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: grey;
}


#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}


#menu {
  position: absolute;
  width: 200px; 
  height: 350px;
  margin: -50px 0 0 -80px;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-right: 50px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  text-align: right;

  
  background: rgba(0,0,0,0.6);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.18,0.89,0.32,1.28);
}

#menu li a {
    transition: 0.5s;
    text-decoration: none;
    color: white;
    @include fontSize(16);
    &:hover {
        color: $yellow;
    }
    &.firstNavItem {
        color: $yellow;
    }
}


#menuToggle input:checked ~ ul {
  transform: none;
}


// HEADER MAIN STYLES

.headerMain {
    text-align: center;
    padding-top: 570px;
}

h1 {
    color: white;
    text-transform: uppercase;
    margin: 0;
    font-weight: 800;
    span {
        color: $yellow;
    }
}

h2 {
    color: white;
    text-transform: uppercase;
    display: inline;
    border-bottom: 2px solid $yellow;
}

//--------------------------
// RESPONSIVE MEDIA QUERIES
// -------------------------


@media only screen and (max-width: 1608px) {
    .headerMain {
        text-align: center;
        padding-top: 500px;
    }
}

@media only screen and (max-width: 1440px) {
    .headerMain {
        text-align: center;
        padding-top: 440px;
    }
}

 @media only screen and (max-width: 925px) {
    .headerTop nav.main-nav {
        display: none;
    }

    nav.hamburgerNav {
        display: block;
    }

    #menu {
        margin: -50px 0 0 -110px;
    }
    .headerMain {
        text-align: center;
        padding-top: 580px;
    }
 }



 @media only screen and (max-width: 725px) {
    .headerTop {
        img.logo {
        width :40px;
        }
    }
    .headerMain {
        text-align: center;
    }
}

@media only screen and (max-width: 580px) {
    #menu {
        margin: -50px 0 0 -135px;
    }

    .headerMain {
        text-align: center;
        padding-top: 450px;
    }
}

@media only screen and (max-width: 400px) {
    .headerMain {
        text-align: center;
        padding-top: 360px;
    }
}

