.skills {
    background: white;
    height: 100vh;
    padding-top: 100px;
    .wrapper {
        padding: 2% 0 10% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    h4 {
        color: black;
        display: inline-block;
        border: 5px solid black;
        padding: 15px;
        margin-top: 0;
        
        margin-bottom: 10%;
    }
}

.mySkills ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    li {
        list-style-type: none;
        width: 20%;
        margin-bottom: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            color: black;
            font-size: 70px;
        }
        svg {
            width: 70px;
            height: 70px;
            display: inline;
        }
        img {
            width: 70px;
        }
    }
    li.lastRow {
        width: 33.3%;
       
    }
    li:nth-of-type(11) {
        justify-content: flex-end;
    }
    li:nth-of-type(13) {
        justify-content: flex-start;
    }

}

//--------------------------
// RESPONSIVE MEDIA QUERIES
// -------------------------

 @media only screen and (max-width: 650px) {
    .mySkills ul {
        li {
            width: 33.3%;
            i {
                font-size: 50px;
            }
            svg {
                width: 50px;
                height: 50px;
            }
            img {
                width: 50px;
            }
        }
        li.lastRow {
            width: 33.3%;
        }
        li:nth-of-type(11) {
            justify-content: center;
        }
        li:nth-of-type(13) {
            justify-content: center;
            width: 100%;
        }
    }
 }